body {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 80px 0 0 0;

  display: flex;
  flex-direction: column;

  background: #e8e8e542;
}

.container {
  margin: 0 auto;
}

.game-container {
  border: solid green 1px;
  margin: auto;
  background: grey;
  position: relative;
}

.btn {
  display: flex;
  cursor: pointer;
  * {
    margin: auto;
  }
}

.btn-new-game {
  width: 100px;
  height: 25px;
  background: beige;
}

@gridSize: 4;
@cellSize: 100px;
@cellMargin: 10px;
@cellBorderRadius: 6px;

.grid-row {
  display: flex;
  margin-top: @cellMargin;
}

.grid-row:last-of-type {
  margin-bottom: @cellMargin;
}

.grid-cell {
  background: #9E9E9E;
  width: @cellSize;
  height: @cellSize;

  margin-right: @cellMargin;
  border-radius: @cellBorderRadius;
}

.grid-cell:first-of-type {
  margin-left: @cellMargin;
}

.label {
  position: absolute;
  width: @cellSize;
  height: @cellSize;
  background: green;
  font-size: 60px;
}

.label-grid(@size; @index:1) when ( @index <= @size) {
  .label-grid(@size, (@index + 1));

  .label-columns(@index, @size);
}

.label-columns(@row; @column) when (@column > 0) {
  .label-columns(@row, (@column - 1));

  .label-position-@{row}-@{column} {
    transform: translate(
              (@cellSize + @cellMargin) * (@column - 1) + @cellMargin,
              (@cellSize + @cellMargin) * (@row - 1) + @cellMargin);
  }
;
}

.label-values(@value:0 ) when (@value > 1 ) {
  .label-value-@{value}:before {
    content: "@{value}";
  }
  .label-values(@value / 2);
}

.label-grid(@gridSize);
.label-values(2048);

.leaderboards-container {
  @gameItemHeight: 30px;
  @maxDisplayedItems: 8;
  max-width: 80%;

  min-width: 500px;
  max-height: @gameItemHeight * @maxDisplayedItems;
  flex-shrink: 0;
  overflow: auto;
  .game-item {
    display: flex;
    height: @gameItemHeight;

    div {
      display: flex;
      * {
        margin: auto;
      }
    }
    .game-item-position {
      flex: 0 0 40px;
    }
    .game-item-player-name {
      flex: 4 0;
    }
    .game-item-score {
      flex: 0 0 40px;
    }
  }
}